#textdomain wesnoth-Bad_Moon_Rising

# this file is for orc tribes macros

#define BMR_TRIBE_NAMES NAME SIDE

    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            side={SIDE}
            race=orc
        [/filter]
        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            kill=no
            variable=skoro_namee
        [/store_unit]
        [set_variable]
            name=old_name
            value=$skoro_namee.name
        [/set_variable]
        [set_variable]
            name=skoro_namee.name
            value="$old_name| {NAME}"
        [/set_variable]
        [unstore_unit]
            variable=skoro_namee
            find_vacant=no
        [/unstore_unit]
        {CLEAR_VARIABLE skoro_namee}
    [/event]

    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            side={SIDE}
            race=wolf
        [/filter]
        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            kill=no
            variable=skoro_namee
        [/store_unit]
        [set_variable]
            name=old_name
            value=$skoro_namee.name
        [/set_variable]
        [set_variable]
            name=skoro_namee.name
            value="$old_name| {NAME}"
        [/set_variable]
        [unstore_unit]
            variable=skoro_namee
            find_vacant=no
        [/unstore_unit]
        {CLEAR_VARIABLE skoro_namee}
    [/event]

#enddef

#define BMR_GARETH_NAMES SIDE
    {BMR_TRIBE_NAMES Gareth {SIDE}}
#enddef
#define BMR_SKORO_NAMES SIDE
    {BMR_TRIBE_NAMES Skoro {SIDE}}
#enddef
#define BMR_TEORA_NAMES SIDE
    {BMR_TRIBE_NAMES Teora {SIDE}}
#enddef
