#textdomain wesnoth-Bad_Moon_Rising

[unit_type]
    id=Dark Messiah
    name= _ "Dark Messiah"
    race=human
    image="units/scarrion.png"
    small_profile="portraits/scarrion.png~CROP(25,25,330,330)~SCALE(205,205)"
    profile=portraits/scarrion.png
    hitpoints=115
    movement_type=elusivefoot
    movement=6
    experience=160
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=mixed fighter
    description= _ "The Dark Messiah spreads an odd message, predicting the coming of the 'Restoration of Order': Those who embrace this news will be spared in the coming Restoration. Those who resist and those who do not receive the news will die in a chaotic bloodbath. Without Order, brother will turn on brother, parent will turn on child. Special Note:"{SPECIAL_NOTES_MAGICAL}{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg
    [resistance]
        blade=70
        pierce=70
        impact=70
        cold=70
        arcane=120
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_LEADERSHIP_LEVEL_4}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=10
        number=3
        icon=attacks/quarterstaff.png
    [/attack]
    [attack]
        name=inferno
        description= _ "inferno"
        type=fire
        range=ranged
        damage=21
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/BMRinferno.png
    [/attack]
    {DEFENSE_ANIM "units/scarrion.png" "units/scarrion-defend.png" {SOUND_LIST:HUMAN_HIT}}
    [attack_anim]
        [filter_attack]
            name=inferno
        [/filter_attack]
        [if]
            direction=n,ne,nw

            [missile_frame]
                duration=30
                halo="halo/inferno1.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/inferno7.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno1.png"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                duration=30
                halo="halo/inferno1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=30
                halo="halo/inferno6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=130
                halo="halo/inferno7.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=70
                halo="halo/inferno1.png~FL(vert)"
                offset=1.0
            [/missile_frame]
        [/else]
        #		[missile_frame]
        #			begin=-150
        #			end=0
        #			image="projectiles/fireball-n.png"
        #			image_diagonal="projectiles/fireball-nw.png"
        #		[/missile_frame]
        [frame]
            begin=-300
            end=-225
            image="units/scarrion.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/scarrion.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/scarrion.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/scarrion.png"
                sound=flame-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/scarrion.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/scarrion.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/scarrion.png"
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/scarrion.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/scarrion.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/scarrion.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/scarrion.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/scarrion.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/scarrion.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/scarrion.png"
        [/frame]
    [/attack_anim]
[/unit_type]
